.historyTable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.historyTable td,
.historyTable th {
  text-align: center;
  border: 1px solid var(--border-color);
  padding: 0;
}

.historyTable tbody tr {
  cursor: pointer;
}

.historyTable tbody tr:nth-child(odd) {
  background: var(--active-color);
}

.piece {
  background-size: cover;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.piece:global(.black) {
  filter: drop-shadow(1px 1px 0 var(--border-color)) drop-shadow(-1px -1px 0 var(--border-color));
}

.noMoves {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compactMoves {
  display: grid;
  grid-template-columns: 50% 50%;
}

.compactMove {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  background: unset;
  white-space: nowrap;
}

.compactMove.canMove {
  cursor: pointer;
}

.moves {
  margin: 0 4px;
}

.row {
  transition: background-color 250ms ease-in-out;
}

.currentMove {
  background: var(--selected-color) !important;
}

.check {
  outline: 1px solid yellow;
}

.mate {
  outline: 1px solid red;
}
