.imageBtn {
  all: unset;
  height: 80px;
  width: 80px;
  background-position: center;
  background-size: cover;
  margin: 0 4px;
  color: black;
  text-align: center;
  cursor: pointer;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
}

.title {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px;
}

.default {
  background-image: url("/assets/images/pieces/default/wN.svg");
}

.merida {
  background-image: url("/assets/images/pieces/merida/wN.svg");
}

.wood {
  background-image: url("/assets/images/board/wood.jpg");
}

.marble {
  background-image: url("/assets/images/board/marble.jpg");
}
