.imageBtn {
  all: unset;
  height: 96px;
  width: 96px;
  background-position: center;
  background-size: cover;
  color: black;
  text-align: center;
  cursor: pointer;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  margin: 4px;
}

.imageBtns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px;
  text-align: center;
}

.default {
  background-image: url(../../../assets/images/pieces/default/wN.svg);
}

.merida {
  background-image: url(../../../assets/images/pieces/merida/wN.svg);
}

.blue {
  background-image: url(../../../assets/images/board/preview/blue.png);
}

.brown {
  background-image: url(../../../assets/images/board/brown.svg);
}

.metal {
  background-image: url(../../../assets/images/board/preview/metal.png);
}

.wood {
  background-image: url(../../../assets/images/board/preview/wood.png);
}
