@import "~antd/dist/antd.dark.css";
@import "pages/ChessBoard/style.css";
@import "./vars.css";

#root,
body,
html {
  height: 100%;
}

.full-width {
  width: 100%;
}

.footer {
  margin-top: 16px;
}

.icon {
  margin-right: 8px;
  margin-bottom: -2px;
}

body {
  background: var(--bg-dark);
}
