@import "~antd/dist/antd.dark.css";
@import "pages/ChessBoard/style.css";

:root {
  --bg-dark: #141414;
  --bg-lighter: #242424;
}

#root,
body,
html {
  height: 100%;
}

.full-width {
  width: 100%;
}

.footer {
  margin-top: 16px;
}

.icon {
  margin-right: 8px;
}

body {
  background: var(--bg-dark);
}
