:root {
  --bg-dark: #141414;
  --bg-lighter: #242424;
  --left-sidebar: 280px;
  --right-sidebar: 280px;
  --board-margin: 8px;
  --board-size: calc(
    min(
      100vh - var(--board-margin),
      100vw - var(--left-sidebar) - var(--right-sidebar) - var(--board-margin)
    )
  );
  --board-size-zen: calc(
    min(100vh - var(--board-margin), 100vw - var(--board-margin))
  );
}
