.clock {
  font-size: 38px;
  display: flex;
  border-radius: 2px;
  margin: 4px 0;
  font-family: monospace;
}

.clock.white {
  background: #dedede;
  color: black;
  border: 1px solid #080808;
}

.clock.black {
  background: black;
  color: white;
  border: 1px solid #aeaeae;
}

.icon {
  flex: 0 0 auto;
  margin-top: 6px;
}

.text {
  flex: 1 0 auto;
  text-align: center;
}
