.wrap {
  height: 100%;
  display: flex;
}

.board {
  height: 800px;
  width: 800px;
}

.boardWrap {
  flex: 1 0 auto;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #424242;
  border-right: 1px solid #424242;
  height: 100%;
  overflow: hidden;
}

.left {
  flex: 0 0 auto;
  width: 320px;
  padding: 16px;
}

.right {
  flex: 0 0 auto;
  height: 100%;
  overflow-y: auto;
  padding: 8px;
  width: 320px;
}

.piece {
  background-size: cover;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.movePiece {
  margin-right: 4px;
}

.historyTable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.historyTable td,
.historyTable th {
  text-align: center;
  border: 1px solid #282828;
  padding: 0;
}

.historyTable tbody tr {
  cursor: pointer;
}
